BOT_TOKEN=8927760105:AAENHMJRA84ckLc6-F99e-huoMH4MGJ2SrM
ADMIN_IDS=8885008511

DATABASE_URL=sqlite+aiosqlite:///./local.db
REDIS_URL=redis://localhost:6379/0

SUPPORT_GROUP_ID=-1004466572079
LOG_CHAT_ID=

DEFAULT_CURRENCY=USD
DEFAULT_LOCALE=en

ENCRYPTION_KEY=vM_tKKAqdHM56KN6jg2iCBnz4Em8TjPr4oiQzcSPRc0=

WALLET_ADDRESS=0x517f918B14df080d3f7f5244AC61f5B1Cd122f21
BSCSCAN_API_KEY=Q2W886JDAMWMCRFMA4XTAYJBG32QG7CWFG

ENVIRONMENT=development
LOG_LEVEL=INFO
